[submodule "adsops-utils"]
	path = adsops-utils
	url = https://github.com/afterdarksys/adsops-utils.git
[submodule "adsops-cli"]
	path = adsops-cli
	url = https://github.com/straticus1/adsops-cli.git
[submodule "adsyslib"]
	path = adsyslib
	url = https://github.com/straticus1/adsyslib.git
[submodule "adssh"]
	path = adssh
	url = https://github.com/afterdarksys/adssh.git
